<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:o="urn:schemas-microsoft-com:office:offce"
	xmlns:x="urn:schemas-microsoft-com:office:excel"
	xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:html="http://www.w3.org/TR/REC-html40">
	<Worksheet ss:Name="Sheet1">
		<Table>
    <% (1..@months).each do |i| %>
      <% (instance_variable_get "@month#{i}").each do |row| %>
      <Row>
        <% (0..row.length-1).each do |i| %>
          <Cell><Data ss:Type="String"><%= row[i] %></Data></Cell>
        <% end %>
      </Row>
      <% end %>
    <% end %>
    </Table>
	</Worksheet>
</Workbook>