<h4><%= "#{t 'unpaid_sales_invoice'}" %></h4>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4><span class="pull-right"><i class="icon-chevron-down"></i></span><b>FILTER</b></h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner"><%= render 'unpaid_form_filter' %></div>
    </div>
  </div>
</div>

<div id="unpaid_sales_invoices"><%= render 'unpaid_invoice_table' %></div>