/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.switch-on {
	position: absolute;
  left: -50px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px; 
}
.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px; 
}